@charset "UTF-8"; 

/* ページ全体 */

p {
  font-size: 1.2vw;
}

.contaiter {
  width: 100%;
}

.title {
  font-size: 5vw;
}

.subtitle {
  font-size: 2vw;
  color: #004E87;
}

.heading {
  width: 100%;
  text-align: center;
  padding: 2vw 0;
}

.subheading {
  width: 100%;
  text-align: center;
  padding-bottom: 2vw;
}

/* ヘッダー */
.header {
  height: 50vw;
  position: relative;
  background-image: url("img/header.jpg");
  background-size: cover;
}

.header_title {
  background-color: #004E87;
  opacity: 0.5;
  color: #fff;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 17vw;
  left: 0;
}

.header_subtitle {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 28vw;
  left: 0;
}

/* 沖縄おススメポイント */
.osusume {
  background-color: #d1edfb;
}

.osusume_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.osusume_list_item {
  width: 25vw;
  text-align: center;
  padding-bottom: 3vw;
}

.osusume_list_item .icon {
  font-size: 5vw;
  margin: 1vw 0;
}

/* 沖縄美ら海水族館 */

/*============
inview　左から
=============*/

.fadeIn_left {
  opacity: 0;
  transform: translate(-40%, 0);
  transition: 2s;
}
.fadeIn_left.is-show {
  transform: translate(0, 0);
  opacity: 1;
}

/*============
inview　右から
=============*/

.fadeIn_right {
  opacity: 0;
  transform: translate(40%, 0);
  transition: 2s;
}
.fadeIn_right.is-show {
  transform: translate(0, 0);
  opacity: 1;
}



.chura {
  background-color: #f0faf2;
  background-image: url("img/back.gif");
  background-repeat: repeat;
}

.chura_syoukai {
  padding: 0 10vw 3vw 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reverse {
  flex-direction: row-reverse;
  text-align: right;
}

.is-show {
  width: 40%;
}

.is-show img {
  width: 30vw;
}

.chura_description {
  width: 60%;
  text-align: left;
}

/* お問い合わせ */
.contact {
  background-color: #fff;
  text-align: center;
}

.contact p {
  padding-bottom: 2vw;
}

.contact_form_area {
  width: 80vw;
  margin: 5vw 10vw;
  padding: 1.5vw 5vw;
  border: 1px solid #999;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 2vw;
}

.form_column {
  display: flex;
  justify-content: space-between;
  padding: 1.5vw 0;
}

.form_label {
  width: 25vw;
  text-align: left;
  font-weight: bold;
}

.form_input {
  width: 45vw;
}

.required {
  color: #f00;
}

.form_parts {
  width: 100%;
  height: 3.5vw;
  padding: 0.5vw;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
}

.form_textarea {
  width: 100%;
  height: 15vw;
  padding: 0.5vw;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
}

.form_parts::placeholder {
  font-size: 1.5vw;
}

.form_submit {
  padding-bottom: 2vw;
}

.form_has_error {
  height: 4vw;
  margin-top: 2vw;
  color: #f00;
  font-size: 2vw;
}

.submit_button {
  padding: 1.5vw 5vw;
  color: #fff;
  background-color: #004E87;
  font-size: 2.5vw;
  border-radius: 5px;
}

/* フッター */
.footer {
  background-color: #d1edfb;
}

.footer p {
  text-align: center;
  padding: 2vw 0;
}


/* レスポンシブ（sp表示の指定） */
@media (max-width: 767px) {

  /* 沖縄おススメポイント */
  .osusume_list {
    display: block;
    width: 80vw;
    margin-left: 10vw;
  }
  
  .osusume_list_item {
    width: 100%
  }
  
  /* 沖縄美ら海水族館 */
  .chura_syoukai {
    padding: 0 15vw 5vw 15vw;
    display: block;
  }
  
  .is-show {
    width: 75vw;
    text-align: center;
  }
  
  .is-show img {
    width: 75vw;
  }
  
  .chura_description {
    width: 70vw;
  }
  
  /* お問い合わせ */
  .form_column {
    display: block;
  }
  
  .form_input {
    width: 100%;
  }
  
  .form_parts {
    width: 100%;
    height: 6vw;
    padding: 0.5vw;
    border-radius: 3px;
  }
}
